doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='./assets/styles/styles.min.css')
    title Animated Explainer Video Production Company | Gisteo
  body
    header
        .container.d-flex.align-items-center.justify-content-between
            .header__logo_wrapper.col
                img(src="./assets/images/logo.png").header__logo
            .header__navigation_wrapper.col-7
              nav.header__navigation
                ul.navigation__list.d-flex.align-items-center.justify-content-between
                  li.navigation__item 
                    a(href="#") How it works/FAQs
                    .underline
                  li.navigation__item
                    a(href="#") Portfolio
                    .underline
                  li.navigation__item
                    a(href="#") Pricing
                    .underline
                  li.navigation__item
                    a(href="#") About
                    .underline
                  li.navigation__item
                    a(href="#") Contact
                    .underline
                  button.navigation__item.navigation__item-button Get Started

    